* {
  box-sizing: border-box;
}

.screen {
  width: 90vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  padding: 0;
  box-shadow: 1px 1px black;

}

.background-image {
  background-color: black;
  width: 40%;
  height: 100%;
}

.lorem {
  height: 20%;
  width: 100%;
}

.form-space {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

form {
  height: 80%;
  width: 100%;
  background-color: blue;
}

.inputs {
  height: 65%;
  background-color: azure;
}

.submit {
  height: 35%;
  background-color: yellow;
}